@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-page{
    background-color: #f7f7f7;
}
.bg-button:hover{
    background-color: #f7f7f7;
}
.bg-settings{
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 80% 0%;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.road-img{
    background-image: none;
}
@media (min-width: 1024px) {
    .road-img{
        background-image: url('../src/road.png');
    }
}
.test{
    max-width: 100vh;
}